<template>
  <v-container id="dashboard" fluid tag="section">
    <v-row>
      <v-col cols="12" lg="12">
        <base-material-card color="#E91E63">
          <template v-slot:heading>
            <div class="display-1 font-weight-light">Clientes</div>

            <div class="subtitle-1 font-weight-light">
              Sistema para cadastro e gerenciamento de clientes
            </div>
          </template>
        </base-material-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script></script>
