<template>
  <v-container id="client-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Cliente</div>
            <div class="subtitle-1 font-weight-light">Cadastro de cliente</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="client.nome"
                    :counter="100"
                    label="Nome *"
                    hint="Informe seu nome"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" md="3">
                  <v-text-field
                    type="number"
                    color="secondary"
                    v-model="client.cep"
                    :counter="8"
                    label="CEP *"
                    hint="Informe seu cep"
                    placeholder="Somente números"
                    :rules="[controller.rules.required]"
                    v-on:blur="requestFullAddress"
                  ></v-text-field>
                  <a
                    href="http://www.buscacep.correios.com.br/sistemas/buscacep/"
                    style="text-decoration: none; font-size: 0.85rem"
                    target="_blank"
                    >Não sei meu cep</a
                  >
                </v-col>
                <v-col cols="3" md="3">
                  <v-text-field
                    type="number"
                    color="secondary"
                    v-model="client.numero"
                    label="Número *"
                    hint="Informe o número"
                    :rules="[controller.rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="client.complemento"
                    :counter="45"
                    label="Complemento"
                    hint="Informe o complemento do seu endereço"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="7" md="7">
                  <v-text-field
                    color="secondary"
                    v-model="client.logradouro"
                    label="Rua/Avenida *"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="5" md="5">
                  <v-text-field
                    color="secondary"
                    v-model="client.bairro"
                    label="Bairro *"
                    disabled
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="client.localidade"
                    label="Cidade *"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="2" md="2">
                  <v-text-field
                    color="secondary"
                    v-model="client.uf"
                    label="UF *"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="2" md="2">
                  <v-text-field
                    color="secondary"
                    v-model="client.ddd"
                    label="Código DDD *"
                    disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="2" md="2">
                  <v-text-field
                    color="secondary"
                    v-model="client.ibge"
                    label="Código IBGE *"
                    disabled
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import ClientController from "../../../app/controllers/ClientController";

import AddressController from "../../../app/controllers/AddressController";

export default {
  name: "client-register",
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    controller: new ClientController(),
    addressController: new AddressController(),
    client: new ClientController().clientModel(),
  }),
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    requestFullAddress() {
      this.loading = true;
      this.addressController.getFullAddressFromApi(this.client.cep).then((address) => {
        if (address.logradouro !== null) {
          this.client.logradouro = address.logradouro;
          this.client.bairro = address.address;
          this.client.localidade = address.localidade;
          this.client.bairro = address.bairro;
          this.client.uf = address.uf;
          this.client.ddd = address.ddd;
          this.client.ibge = address.ibge;
        } else {
          this.typeAlert = "error";
          this.message = "CEP não encontrado";
          this.notification = true;
          this.loading = false;
        }
        this.loading = false;
      });
    },
    register() {
      this.loading = true;
      this.controller.register(this.client).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Cliente cadastrado com sucesso.";
          this.typeAlert = "info";
          setTimeout(() => this.$router.replace({ name: "clients" }), 2000);
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar o cliente.";
        }
        this.notification = true;
        this.loading = false;
      });
    },
  },
};
</script>
