<template>
  <v-container id="clients" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Clientes</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de clientes cadastrados
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"> </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2"> </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="clients"
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import ClientController from "../../../app/controllers/ClientController";

export default {
  data: () => ({
    loading: false,
    dialog: false,
    dialogDelete: false,
    notification: false,
    typeAlert: "success",
    message: "",
    search: "",
    clients: [],
    controller: new ClientController(),
    headers: [
      {
        text: "Nome Completo",
        value: "nome",
      },
      {
        text: "Rua/Avenida",
        value: "logradouro",
      },
      {
        text: "Bairro",
        value: "bairro",
      },
      {
        text: "Cidade",
        value: "cidade",
      },
      {
        text: "UF",
        value: "uf",
      },
      {
        text: "CEP",
        value: "cep",
      },
      {
        text: "DDD",
        value: "ddd",
      },
    ],
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.getDataFromApi();
  },
  methods: {
    getDataFromApi() {
      this.loading = true;
      this.controller.getAll().then((response) => {
        if (response.data) {
          for (let i = 0; i < response.data.length; i++) {
            response.data[i]["bairro"] = response.data[i].endereco.bairro;
            response.data[i]["cep"] = response.data[i].endereco.cep;
            response.data[i]["complemento"] = response.data[i].endereco.complemento;
            response.data[i]["ddd"] = response.data[i].endereco.ddd;
            response.data[i]["ibge"] = response.data[i].endereco.ibge;
            response.data[i]["cidade"] = response.data[i].endereco.localidade;
            response.data[i]["logradouro"] = response.data[i].endereco.logradouro;
            response.data[i]["uf"] = response.data[i].endereco.uf;
          }
          this.clients = response.data;
        }
      });
      this.loading = false;
    },
  },
};
</script>
